parameters:
    level: max
    paths:
        - app
        - database
        - routes
        - bootstrap/app.php
        - bootstrap/providers.php
        - public/index.php
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Dynamic call to static method Illuminate\\Http\\Request::validate\(\).#'
            path: app/Http/Controllers/**/*.php
